[submodule "ansible/roles/mysql"]
	path = ansible/roles/mysql
	url = git@github.com:geerlingguy/ansible-role-mysql.git
[submodule "ansible/roles/nginx"]
	path = ansible/roles/nginx
	url = git@github.com:savoirfairelinux/ansible-nginx.git
[submodule "ansible/roles/acme-nginx"]
	path = ansible/roles/acme-nginx
	url = git@github.com:hsoft/ansible-acme-nginx.git
[submodule "ansible/roles/django"]
	path = ansible/roles/django
	url = git@github.com:desecho/ansible-django.git
