[submodule "ansible/roles/mysql"]
	path = ansible/roles/mysql
	url = git@github.com:geerlingguy/ansible-role-mysql.git
[submodule "ansible/roles/nginx"]
	path = ansible/roles/nginx
	url = git@github.com:savoirfairelinux/ansible-nginx.git
[submodule "ansible/roles/acme-nginx"]
	path = ansible/roles/acme-nginx
	url = git@github.com:hsoft/ansible-acme-nginx.git
[submodule "ansible/roles/django"]
	path = ansible/roles/django
	url = git@github.com:desecho/ansible-django.git
[submodule "ansible/roles/fail2ban"]
	path = ansible/roles/fail2ban
	url = git@github.com:infOpen/ansible-role-fail2ban.git
[submodule "ansible/roles/swapfile"]
	path = ansible/roles/swapfile
	url = git@github.com:kamaln7/ansible-swapfile.git
[submodule "ansible/roles/nodejs"]
	path = ansible/roles/nodejs
	url = git@github.com:geerlingguy/ansible-role-nodejs.git
