Host prod
    HostName {{ prod_hostname }}
    User root
    ForwardAgent yes
    StrictHostKeyChecking no

Host proxy
    HostName proxy.{{ prod_hostname }}
    User root
    ForwardAgent yes
    StrictHostKeyChecking no
